In [1]:
from pathlib import Path
import os
import pandas as pd

In [2]:
clean_data_folder = Path('../../clean_data')
os.listdir(clean_data_folder)

['12.baoluu.parquet',
 'diem_Thu.parquet',
 'sinhvien_dtb_toankhoa.parquet',
 'uit_hocphi_miengiam.parquet',
 'diemrl.parquet',
 'sinhvien_dtb_hocky.parquet',
 'desktop.ini',
 '14.totnghiep.parquet',
 '1.sinhvien.xlsx',
 '2.diem.xlsx',
 '3.sinhvien_chungchi.xlsx',
 '4.xeploaiav.xlsx',
 '5.Thisinh.xlsx',
 '6.giayxacnhan.xlsx',
 '8.XLHV.xlsx',
 '10.diemrl.xlsx',
 'enriched_dtb_hk.parquet',
 '14.totnghiep.xlsx',
 '12.baoluu.xlsx',
 'diemrl.xlsx',
 'diem_Thu.xlsx',
 'sinhvien_dtb_toankhoa.xlsx',
 'uit_hocphi_miengiam.xlsx',
 'sinhvien_dtb_hocky.xlsx',
 'enriched_dtb_hk.xlsx',
 'data_with_khoa.parquet',
 'desktop.ini']

In [3]:
drl_10_df = pd.read_excel(clean_data_folder/'10.diemrl.xlsx')
sv_df = pd.read_excel(clean_data_folder/'1.sinhvien.xlsx')
drl_df = pd.read_parquet(clean_data_folder/'diemrl.parquet')

In [4]:
drl_10_df.mssv.str.len().value_counts()

mssv
40.0    54001
Name: count, dtype: int64

In [5]:
sv_df.mssv.str.len().value_counts()

mssv
40    8295
Name: count, dtype: int64

In [6]:
drl_df.mssv.str.len().value_counts()

mssv
40    111978
Name: count, dtype: int64

In [7]:
drl_10_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54057 entries, 0 to 54056
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  54057 non-null  int64
 1   mssv        54057 non-null  object
 2   lopsh       54057 non-null  object
 3   hocky       54057 non-null  int64
 4   namhoc      54057 non-null  int64
 5   drl         54057 non-null  int64
 6   ghichu      19519 non-null  object
dtypes: int64(4), object(3)
memory usage: 2.9+ MB

In [8]:
sv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8295 entries, 0 to 8294
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     8295 non-null   int64
 1   mssv           8295 non-null   object
 2   namsinh        8295 non-null   int64
 3   gioitinh       8295 non-null   int64
 4   noisinh        8284 non-null   object
 5   lopsh          8295 non-null   object
 6   khoa           8295 non-null   object
 7   hedt           8295 non-null   object
 8   khoahoc        8295 non-null   int64
 9   chuyennganh2   8295 non-null   object
 10  tinhtrang      8295 non-null   int64
 11  diachi_tinhtp  8295 non-null   object
dtypes: int64(5), object(7)
memory usage: 777.8+ KB

In [9]:
drl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111978 entries, 0 to 111977
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   mssv           111978 non-null  category
 1   lop_sh         111978 non-null  category
 2   hoc_ky         111978 non-null  category
 3   nam_hoc        111978 non-null  category
 4   drl            111978 non-null  int16
 5   lop_sh_cu_the  111978 non-null  category
dtypes: category(5), int16(1)
memory usage: 1.7 MB

In [10]:
drl_10_df = drl_10_df[['mssv', 'lopsh']]
sv_df = sv_df[['mssv', 'lopsh', 'khoa']]
drl_df = drl_df[['mssv', 'lop_sh']]
drl_df.columns = ['mssv', 'lopsh']

# merge drl_10, sv, drl

In [11]:
new_df = pd.merge(drl_10_df, drl_df, how='outer')
new_df = pd.merge(new_df, sv_df, how='outer')
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169227 entries, 0 to 169226
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   mssv    169227 non-null  object
 1   lopsh   169227 non-null  object
 2   khoa    25029 non-null   object
dtypes: object(3)
memory usage: 3.9+ MB

In [12]:
new_df.khoa.value_counts(dropna=False)

khoa
NaN        144198
 MMT&TT      6084
 HTTT        5160
 KHMT        3814
 CNPM        3723
 KTTT        3410
 KTMT        2838
Name: count, dtype: int64

In [13]:
new_df.lopsh.value_counts(dropna=False)

lopsh
NULL           10528
CNPM04          1644
MMT04           1608
KTPM0001        1516
HTTT0001        1448
               ...
 KHCl2019.3        1
CNCL2021.2         1
 KHCl2019          1
 TMCL2020          1
AEPP01             1
Name: count, Length: 429, dtype: int64

In [14]:
new_df.khoa = new_df.khoa.str.strip().str.lower()
new_df.lopsh = new_df.lopsh.str.strip().str.lower()

In [15]:
new_df.drop_duplicates(inplace=True)

In [16]:
new_df.dropna(how="all", inplace=True)

In [17]:
(new_df[['mssv', 'khoa']].drop_duplicates().mssv.value_counts() > 1).sum()

8226

In [18]:
(new_df[['mssv', 'lopsh']].drop_duplicates().mssv.value_counts() > 1).sum()

8814

In [19]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36458 entries, 0 to 169226
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mssv    36458 non-null  object
 1   lopsh   36457 non-null  object
 2   khoa    8295 non-null   object
dtypes: object(3)
memory usage: 1.1+ MB

# lopsh

In [20]:
print(new_df.lopsh.value_counts(dropna=False).reset_index().to_markdown())

|     | lopsh      |   count |
|----:|:-----------|--------:|
|   0 | null       |    4280 |
|   1 | ktpm0001   |    1291 |
|   2 | httt0001   |    1240 |
|   3 | mmtt0001   |    1187 |
|   4 |            |     963 |
|   5 | ktmt0001   |     799 |
|   6 | khmt0001   |     653 |
|   7 | cntt0001   |     539 |
|   8 | cnpm04     |     304 |
|   9 | mmt04      |     297 |
|  10 | cntt2018   |     288 |
|  11 | mmtt2013   |     267 |
|  12 | httt04     |     263 |
|  13 | khmt2013   |     259 |
|  14 | cntt2019   |     247 |
|  15 | khmt2019   |     239 |
|  16 | ktpm2013   |     236 |
|  17 | ktpm2022   |     234 |
|  18 | khmt2022   |     227 |
|  19 | mmtt2014   |     227 |
|  20 | ktmt04     |     226 |
|  21 | cntt2017   |     210 |
|  22 | ktpm2019   |     209 |
|  23 | httt2017   |     204 |
|  24 | httt2014   |     202 |
|  25 | ktpm2012   |     198 |
|  26 | ktmt2014   |     193 |
|  27 | ktpm2014   |     191 |
|  28 | mmtt2022   |     190 |
|  29 | mmtt2012   |     189 |
|  30 | khmt2014   |     188 |
|  31 | httt2019   |     186 |
|  32 | ktpm2018   |     184 |
|  33 | khmt04     |     178 |
|  34 | mmtt2017   |     166 |
|  35 | ktmt2019   |     166 |
|  36 | httt2022   |     166 |
|  37 | mmtt2019   |     166 |
|  38 | ktmt2013   |     162 |
|  39 | khmt2016   |     162 |
|  40 | khmt2015   |     162 |
|  41 | khmt2018   |     161 |
|  42 | mmtt2016   |     160 |
|  43 | mmtt2015   |     160 |
|  44 | ktmt2022   |     159 |
|  45 | ktpm2017   |     159 |
|  46 | cnpm03     |     155 |
|  47 | httt2013   |     155 |
|  48 | tmđt2018   |     153 |
|  49 | mmt06      |     149 |
|  50 | tmđt2017   |     146 |
|  51 | pmcl2017   |     144 |
|  52 | httt2015   |     144 |
|  53 | attt2022   |     141 |
|  54 | cncl2020   |     140 |
|  55 | khcl2021   |     140 |
|  56 | mmtt2018   |     138 |
|  57 | httt2018   |     134 |
|  58 | pmcl2019   |     134 |
|  59 | khcl2019   |     133 |
|  60 | cntt2016   |     132 |
|  61 | cntt2015   |     131 |
|  62 | ktmt2018   |     131 |
|  63 | attt2018   |     130 |
|  64 | cncl2021   |     130 |
|  65 | ktmt2017   |     129 |
|  66 | khcl2020   |     128 |
|  67 | cnpm06     |     127 |
|  68 | mmt05      |     127 |
|  69 | pmcl2016   |     126 |
|  70 | attt2017   |     126 |
|  71 | mmtt2011   |     126 |
|  72 | cncl2019   |     125 |
|  73 | khmt06     |     125 |
|  74 | pmcl2015   |     125 |
|  75 | cnnb2022   |     124 |
|  76 | cntt2014   |     124 |
|  77 | khdl2019   |     123 |
|  78 | khcl2018   |     123 |
|  79 | pmcl2020   |     122 |
|  80 | ktmt2016   |     122 |
|  81 | attt2019   |     122 |
|  82 | pmcl2021   |     121 |
|  83 | ktmt06     |     120 |
|  84 | httt05     |     120 |
|  85 | ktmt03     |     118 |
|  86 | cntt2013   |     118 |
|  87 | khmt2012   |     117 |
|  88 | cnpm05     |     117 |
|  89 | httt06     |     117 |
|  90 | ktmt05     |     117 |
|  91 | mtcl2020   |     116 |
|  92 | khdl2018   |     116 |
|  93 | ktpm2015   |     115 |
|  94 | httt2012   |     115 |
|  95 | mmt03      |     114 |
|  96 | cntt2021   |     111 |
|  97 | mtcl2021   |     110 |
|  98 | mtcl2018   |     109 |
|  99 | htcl2020   |     109 |
| 100 | httt2011   |     108 |
| 101 | mtcl2019   |     108 |
| 102 | ktpm2021   |     106 |
| 103 | ktpm2011   |     106 |
| 104 | mmcl2021   |     105 |
| 105 | ktmt2012   |     104 |
| 106 | cttt2018   |     104 |
| 107 | cntt2022   |     103 |
| 108 | httt2010   |     102 |
| 109 | ktpm2020   |     102 |
| 110 | mmcl2019   |     100 |
| 111 | atcl2017   |      99 |
| 112 | tmđt2019   |      99 |
| 113 | mmtt2021   |      98 |
| 114 | ktpm2010   |      98 |
| 115 | attt2016   |      98 |
| 116 | pmcl2018   |      97 |
| 117 | mmtt2010   |      96 |
| 118 | attt2015   |      95 |
| 119 | tmđt2022   |      95 |
| 120 | antt2014   |      95 |
| 121 | khmt05     |      95 |
| 122 | khmt2017   |      94 |
| 123 | atcl2020   |      94 |
| 124 | mmcl2020   |      94 |
| 125 | khmt2011   |      93 |
| 126 | htcl2021   |      93 |
| 127 | ktpm2016   |      91 |
| 128 | atcl2021   |      91 |
| 129 | httt2021   |      89 |
| 130 | httt2016   |      89 |
| 131 | cntt2020   |      88 |
| 132 | htcl2015   |      88 |
| 133 | ktmt2010   |      88 |
| 134 | ktmt2015   |      87 |
| 135 | atcl2019   |      87 |
| 136 | tmcl2019   |      86 |
| 137 | antt2015   |      84 |
| 138 | khtn2013   |      83 |
| 139 | attt2020   |      82 |
| 140 | htcl2019   |      82 |
| 141 | mtcl2015   |      81 |
| 142 | ktmt2011   |      81 |
| 143 | tmcl2021   |      80 |
| 144 | mtcl2017   |      79 |
| 145 | httt2020   |      79 |
| 146 | cncl2018   |      79 |
| 147 | antn2013   |      78 |
| 148 | khdl2020   |      77 |
| 149 | htcl2017   |      77 |
| 150 | mmtt2020   |      76 |
| 151 | mmcl2018   |      75 |
| 152 | htcl2018   |      75 |
| 153 | tmđt2016   |      74 |
| 154 | khmt2021   |      74 |
| 155 | cttt2019.2 |      74 |
| 156 | ktmt2021   |      73 |
| 157 | antt2016   |      72 |
| 158 | htcl2016   |      72 |
| 159 | khmt2020   |      72 |
| 160 | cttt2019.1 |      72 |
| 161 | cttt2019   |      72 |
| 162 | tmđt2015   |      71 |
| 163 | httt03     |      69 |
| 164 | mmcl2017   |      68 |
| 165 | cttt2021   |      68 |
| 166 | attt2021   |      68 |
| 167 | atcl2018   |      68 |
| 168 | pmcl2014   |      67 |
| 169 | cttt2017   |      67 |
| 170 | attn2019   |      66 |
| 171 | khtn2015   |      65 |
| 172 | mtcl2016   |      64 |
| 173 | antn2014   |      64 |
| 174 | cttt2015   |      64 |
| 175 | khdl2021   |      64 |
| 176 | cttt2022   |      63 |
| 177 | khmt2010   |      63 |
| 178 | tmđt2021   |      63 |
| 179 | khtn2019   |      62 |
| 180 | tmđt2014   |      61 |
| 181 | antt2013   |      60 |
| 182 | cntn04     |      60 |
| 183 | mtcl2014   |      60 |
| 184 | tmcl2020   |      60 |
| 185 | khtn2018   |      60 |
| 186 | khtn2014   |      59 |
| 187 | cttt2020   |      59 |
| 188 | khtn2016   |      59 |
| 189 | attn2018   |      59 |
| 190 | khtn2017   |      56 |
| 191 | khdl2022   |      55 |
| 192 | attn2017   |      55 |
| 193 | khcl2017   |      54 |
| 194 | tmđt2020   |      54 |
| 195 | tmđt2013   |      54 |
| 196 | ktmt2020   |      53 |
| 197 | khmt03     |      52 |
| 198 | attn2016   |      52 |
| 199 | pmcl2018.1 |      50 |
| 200 | pmcl2017.1 |      49 |
| 201 | pmcl2017.3 |      49 |
| 202 | mmcl2019.1 |      48 |
| 203 | mmcl2019.2 |      48 |
| 204 | pmcl2018.2 |      47 |
| 205 | attn2015   |      47 |
| 206 | pmcl2017.2 |      47 |
| 207 | pmcl2019.2 |      46 |
| 208 | khcl2019.3 |      46 |
| 209 | pmcl2019.3 |      46 |
| 210 | pmcl2019.1 |      45 |
| 211 | mtio2021   |      45 |
| 212 | khcl2019.2 |      45 |
| 213 | cnt22013   |      44 |
| 214 | antn2015   |      43 |
| 215 | atcl2019.2 |      43 |
| 216 | cncl2019.2 |      43 |
| 217 | cncl2019.3 |      42 |
| 218 | pmcl2013   |      42 |
| 219 | khcl2018.1 |      42 |
| 220 | khcl2018.2 |      42 |
| 221 | atcl2019.1 |      41 |
| 222 | cncl2019.1 |      41 |
| 223 | cttt2016   |      41 |
| 224 | htcl2019.1 |      40 |
| 225 | khcl2019.1 |      40 |
| 226 | mtio2022   |      40 |
| 227 | cncl2018.1 |      40 |
| 228 | htcl2017.1 |      39 |
| 229 | khcl2018.3 |      39 |
| 230 | cncl2018.2 |      39 |
| 231 | tmcl2019.2 |      39 |
| 232 | htcl2019.2 |      39 |
| 233 | tmcl2019.1 |      38 |
| 234 | htcl2018.1 |      38 |
| 235 | htcl2017.2 |      38 |
| 236 | mmcl2018.1 |      37 |
| 237 | htcl2018.2 |      37 |
| 238 | mmcl2018.2 |      37 |
| 239 | cttt2014   |      36 |
| 240 | mtcl2019.1 |      36 |
| 241 | mtcl2018.1 |      36 |
| 242 | aep02      |      36 |
| 243 | cttt2013   |      36 |
| 244 | mtcl2019.3 |      36 |
| 245 | atcl2018.1 |      34 |
| 246 | mtcl2017.1 |      34 |
| 247 | mtcl2018.2 |      34 |
| 248 | mtcl2017.2 |      34 |
| 249 | antn2016   |      33 |
| 250 | khnt2020   |      33 |
| 251 | mtio2020   |      33 |
| 252 | atcl2018.2 |      33 |
| 253 | khnt2021   |      32 |
| 254 | mtcl2019.2 |      32 |
| 255 | mtcl2018.3 |      32 |
| 256 | attn2021   |      31 |
| 257 | cntn03     |      30 |
| 258 | attn2020   |      30 |
| 259 | khtn2022   |      30 |
| 260 | khtn2012   |      30 |
| 261 | attn2022   |      30 |
| 262 | khtn2021   |      30 |
| 263 | antn2012   |      28 |
| 264 | khtn2010   |      28 |
| 265 | khtn2020   |      28 |
| 266 | htcl2014   |      28 |
| 267 | khnt2022   |      27 |
| 268 | khcl2017.2 |      26 |
| 269 | khcl2017.1 |      25 |
| 270 | mtlk2015   |      24 |
| 271 | khmt2016.1 |      24 |
| 272 | khbc2019   |      23 |
| 273 | khtn2011   |      23 |
| 274 | cttt2012   |      22 |
| 275 | khmt2016.2 |      21 |
| 276 | aep04      |      19 |
| 277 | mtcl2013   |      19 |
| 278 | aep03      |      19 |
| 279 | cttt2010   |      18 |
| 280 | pmcl2015.1 |      18 |
| 281 | cttt2011   |      17 |
| 282 | mtcl2016.1 |      16 |
| 283 | pmcl2016.1 |      14 |
| 284 | pmcl2015.2 |      14 |
| 285 | pmcl2016.3 |      13 |
| 286 | htcl2016.1 |      13 |
| 287 | pmcl2014.2 |      13 |
| 288 | mtcl2015.1 |      12 |
| 289 | pmcl2014.1 |      11 |
| 290 | mtcl2015.2 |      11 |
| 291 | htcl2016.2 |      10 |
| 292 | pmcl2016.2 |      10 |
| 293 | mtlk2018   |      10 |
| 294 | pmcl2015.3 |      10 |
| 295 | mtcl2016.2 |       9 |
| 296 | aep01      |       3 |
| 297 | nan        |       1 |
| 298 | cntn05     |       1 |
| 299 | cncl2021.2 |       1 |
| 300 | aepp01     |       1 |

In [21]:
def lopsh_mapping(row):
    if row.lopsh in ('0', '', 'null', 'nan'):
        return None
    if pd.notnull(row.lopsh):
        row.lopsh = row.lopsh.split('.')[0]
        i = -1
        while row.lopsh[i].isdigit():
            i -= 1
        if i != -1:
            row.lopsh = row.lopsh[:i+1]

        return row.lopsh
        
new_df.lopsh = new_df.apply(lopsh_mapping, axis=1)

In [22]:
print(new_df.lopsh.value_counts(dropna=False).reset_index().to_markdown())

|    | lopsh   |   count |
|---:|:--------|--------:|
|  0 |         |    5244 |
|  1 | httt    |    3582 |
|  2 | ktpm    |    3320 |
|  3 | mmtt    |    3246 |
|  4 | khmt    |    3059 |
|  5 | ktmt    |    2928 |
|  6 | cntt    |    2091 |
|  7 | pmcl    |    1460 |
|  8 | mtcl    |    1068 |
|  9 | khcl    |     883 |
| 10 | htcl    |     878 |
| 11 | tmđt    |     870 |
| 12 | attt    |     862 |
| 13 | cttt    |     813 |
| 14 | cnpm    |     703 |
| 15 | mmt     |     687 |
| 16 | cncl    |     680 |
| 17 | khtn    |     613 |
| 18 | mmcl    |     612 |
| 19 | atcl    |     590 |
| 20 | khdl    |     435 |
| 21 | attn    |     370 |
| 22 | antt    |     311 |
| 23 | tmcl    |     303 |
| 24 | antn    |     246 |
| 25 | cnnb    |     124 |
| 26 | mtio    |     118 |
| 27 | khnt    |      92 |
| 28 | cntn    |      91 |
| 29 | aep     |      77 |
| 30 | cnt     |      44 |
| 31 | mtlk    |      34 |
| 32 | khbc    |      23 |
| 33 | aepp    |       1 |

In [23]:
new_df.drop_duplicates(inplace=True)

In [24]:
new_df[['mssv', 'lopsh']].drop_duplicates().mssv.value_counts()

mssv
B6C44283XPvAibaEXe+Z64Gg7q108KvfKyblNA82    4
5B83F489XPvAibaEXe/nzVfFzcfk2G6N165o8WeV    4
5661EFDFXPvAibaEXe+98B3vqZGkWEGF/iJJf2HS    4
A465B59BXPvAibaEXe99GOtI/HwJhTcVZiHi+eIc    4
FE7E4CC2XPvAibaEXe8wMpKQnQ7j6Ih9R01KveHG    4
                                           ..
37E97C19XPvAibaEXe++R9hzjt1s71Xccrv/DP+b    1
E94A83F8XPvAibaEXe9RV3kg6cpLDKSkuuD/wPM/    1
2F5A8FBAXPvAibaEXe9RV3kg6cpLDB5OjYHTmhOk    1
87101AC7XPvAibaEXe9DjwUQ+Cta8bqWf3Fj4I2a    1
81BE3282XPvAibaEXe9nP2x7vQNdVaaOHJLE3RS8    1
Name: count, Length: 18052, dtype: int64

In [25]:
(new_df[['mssv', 'lopsh']].drop_duplicates().mssv.value_counts() > 1).sum()

5866

# khoa

In [26]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32916 entries, 0 to 169226
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mssv    32916 non-null  object
 1   lopsh   28635 non-null  object
 2   khoa    8295 non-null   object
dtypes: object(3)
memory usage: 1.0+ MB

In [27]:
mapping_dict = new_df[['khoa', 'lopsh']].dropna(how="any").drop_duplicates().set_index('lopsh')['khoa']
mapping_dict

lopsh
antn    mmt&tt
antt    mmt&tt
cntt      kttt
cttt      httt
httt      httt
khmt      khmt
khtn      khmt
ktmt      ktmt
ktpm      cnpm
mmtt    mmt&tt
mtcl      ktmt
pmcl      cnpm
htcl      httt
mtlk    mmt&tt
cntt    mmt&tt
tmđt      httt
atcl    mmt&tt
attn    mmt&tt
attt    mmt&tt
mmcl    mmt&tt
khdl      kttt
tmcl      httt
khcl      khmt
cncl      kttt
Name: khoa, dtype: object

In [28]:
new_df.loc[~new_df.lopsh.isin(mapping_dict.keys())] = None
new_df.lopsh = new_df.lopsh.replace(mapping_dict).astype("category")
new_df.khoa.fillna(new_df.lopsh, inplace=True)

In [29]:
new_df.khoa.value_counts(dropna=False)

khoa
mmt&tt    7016
NaN       6241
httt      5820
cnpm      4351
khmt      4118
ktmt      3555
kttt      1815
Name: count, dtype: int64

In [30]:
(new_df[['mssv', 'khoa']].drop_duplicates().mssv.value_counts() > 1).sum()

1205

# drop

In [33]:
new_df.drop(columns=['lopsh'], inplace=True)

In [34]:
new_df.dropna(how="all", inplace=True)
new_df.drop_duplicates(inplace=True)

In [35]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17158 entries, 0 to 169161
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mssv    17158 non-null  object
 1   khoa    17158 non-null  object
dtypes: object(2)
memory usage: 402.1+ KB

In [36]:
new_df.duplicated().sum()

0

In [37]:
new_df.isnull().any(axis=1).sum()

0

In [38]:
mask = new_df.duplicated(subset=['mssv'], keep=False)
mask.sum()

2423

In [39]:
new_df = new_df[~mask]

In [40]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14735 entries, 2 to 169161
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mssv    14735 non-null  object
 1   khoa    14735 non-null  object
dtypes: object(2)
memory usage: 345.4+ KB

# merge with enrich_dtb_hk

In [41]:
dtb_df = pd.read_parquet(clean_data_folder/'enriched_dtb_hk.parquet')

In [42]:
dtb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148406 entries, 0 to 148405
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   mssv     148406 non-null  category
 1   hoc_ky   148406 non-null  category
 2   nam_hoc  148406 non-null  category
 3   dtb_hk   148140 non-null  float32
dtypes: category(3), float32(1)
memory usage: 1.8 MB

In [43]:
dtb_df.dropna(how="any", inplace=True)

In [44]:
new_df = pd.merge(dtb_df, new_df, how="inner")

In [45]:
new_df.duplicated().sum()

0

In [46]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100804 entries, 0 to 100803
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   mssv     100804 non-null  object
 1   hoc_ky   100804 non-null  category
 2   nam_hoc  100804 non-null  category
 3   dtb_hk   100804 non-null  float32
 4   khoa     100804 non-null  object
dtypes: category(2), float32(1), object(2)
memory usage: 2.1+ MB

# data type

In [47]:
new_df.mssv = new_df.mssv.astype("category")
new_df.khoa = new_df.khoa.astype("category")
new_df.hoc_ky = new_df.hoc_ky.astype("category")
new_df.nam_hoc = new_df.nam_hoc.astype("category")
new_df.dtb_hk = new_df.dtb_hk.astype("float32")

In [48]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100804 entries, 0 to 100803
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   mssv     100804 non-null  category
 1   hoc_ky   100804 non-null  category
 2   nam_hoc  100804 non-null  category
 3   dtb_hk   100804 non-null  float32
 4   khoa     100804 non-null  category
dtypes: category(4), float32(1)
memory usage: 1.5 MB

# save and final check

In [49]:
new_df.to_parquet(clean_data_folder/"data_with_khoa.parquet", index=False)

In [50]:
new_df = pd.read_parquet(clean_data_folder/"data_with_khoa.parquet")

In [51]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100804 entries, 0 to 100803
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   mssv     100804 non-null  category
 1   hoc_ky   100804 non-null  category
 2   nam_hoc  100804 non-null  category
 3   dtb_hk   100804 non-null  float32
 4   khoa     100804 non-null  category
dtypes: category(4), float32(1)
memory usage: 1.5 MB

In [52]:
new_df.isnull().any().sum()

0

In [53]:
new_df.duplicated().sum()

0

In [54]:
(new_df[['mssv', 'khoa']].drop_duplicates().mssv.value_counts() > 1).sum()

0

In [55]:
new_df.describe()

              dtb_hk
count  100804.000000
mean        6.500917
std         2.058199
min         0.000000
25%         5.700000
50%         7.000000
75%         7.931818
max        10.000000

In [56]:
new_df.mssv.value_counts(dropna=False)

mssv
611A9B40XPvAibaEXe9N1zCEN2FQqC4gAu9nCd8C    27
5C17AB96XPvAibaEXe+s7fQX5t7T+lWzMsm/jUYl    26
B02A7D33XPvAibaEXe8Yz5YviIhrt11OHzPrKUlM    25
E2AD81E5XPvAibaEXe9OUQm81X+JMLUXioiV0Jrr    24
7B3B09DFXPvAibaEXe+t2Ok7KpYWY9e1eYqthgdQ    23
                                            ..
D50653C4XPvAibaEXe87VvpJWUzbdTdxg7V6Abft     1
D51E555CXPvAibaEXe9v6ULsv63kiZtcn9h/5Niv     1
D52A4065XPvAibaEXe8HttSSNPsv4Q34yJa83ke0     1
5375345DXPvAibaEXe+rkciJLhYkX1I1oyrrNVxK     1
54F34466XPvAibaEXe91TSm2Uq+S2+ypPVWYT60U     1
Name: count, Length: 14360, dtype: int64

In [57]:
new_df.khoa.value_counts(dropna=False)

khoa
httt      23451
mmt&tt    23110
cnpm      18931
khmt      16070
ktmt      15972
kttt       3270
Name: count, dtype: int64

In [58]:
new_df.dtb_hk.value_counts(dropna=False)

dtb_hk
0.000000    2383
8.000000     767
7.000000     757
7.500000     691
8.500000     670
            ...
1.461111       1
9.454545       1
9.117647       1
5.573914       1
8.347619       1
Name: count, Length: 16690, dtype: int64

In [59]:
new_df.hoc_ky.value_counts(dropna=False)

hoc_ky
1    51193
2    40536
3     9075
Name: count, dtype: int64

In [60]:
new_df.nam_hoc.value_counts(dropna=False)

nam_hoc
2021    12243
2020    10900
2019     9370
2018     8801
2017     8133
2016     8113
2015     7909
2014     7423
2013     7033
2022     6537
2012     5664
2011     4096
2010     2682
2009     1297
2008      603
2007        0
2006        0
Name: count, dtype: int64

In [61]:
new_df.sample(10)

,mssv,hoc_ky,nam_hoc,dtb_hk,khoa
55215,E87DBC25XPvAibaEXe8ygSRUk01nIFF65RxUyOiu,3,2013,6.100000,khmt
6052,F241EE3FXPvAibaEXe8VdV75E6kcriil11BUJAqX,1,2014,7.384615,httt
23686,4C9C40A6XPvAibaEXe92yZ7KcyiZXu3PzFXuikme,1,2020,7.347059,httt
65275,2DA9FD45XPvAibaEXe+dErJK2QKC6aYTIS0Fh08i,2,2021,5.271429,mmt&tt
68430,404ED39AXPvAibaEXe8ONI/il9MI2wwysGWOoiBV,2,2018,4.150000,mmt&tt
32366,15438364XPvAibaEXe940vcGUhedsI1uVYfjzF5y,2,2013,5.250000,httt
6404,68A9F6E0XPvAibaEXe+Wjq/eoSKNhSFFR3HqFJZ7,1,2016,1.185000,khmt
39520,5AD3BDD7XPvAibaEXe8VjSa+EGRlURqGeEMBV7zG,2,2013,5.750000,khmt
17538,C580DBB4XPvAibaEXe+/EkvXK98KbcY+Rl3c2lzC,2,2014,6.873334,mmt&tt
18409,80546BD2XPvAibaEXe/X/wixypGyAiyd1XgFJhu3,3,2013,6.250000,khmt