In [56]:
from pathlib import Path
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [57]:
data_folder = Path("../../Education_dataset_V2")
os.listdir(data_folder)

['sinhvien_dtb_hocky.xlsx',
 'diem_Thu.xlsx',
 'Education_dataset_V2.rar',
 'sinhvien_dtb_toankhoa.xlsx',
 'uit_hocphi_miengiam.xlsx',
 '12.baoluu.xlsx',
 '14.totnghiep.xlsx',
 'diemrl.xlsx',
 '08.XLHV.xlsx',
 '05.ThiSinh.xlsx',
 '00.ghichu.txt',
 '03.sinhvien_chungchi.xlsx',
 '00_dhcntt-dtdh_19-01-2016_scan.pdf',
 '04.xeploaiav.xlsx',
 '10.diemrl.xlsx',
 '06.giayxacnhan.xlsx',
 '02.diem.xlsx',
 '01.sinhvien.xlsx',
 'desktop.ini']

In [58]:
data_stem = '12.baoluu'
old_df = pd.read_excel(data_folder/f"{data_stem}.xlsx")
new_df = old_df.copy(deep = True)

In [59]:
new_df.sample(3)

,id,masv,tinhtrang,lydo,hocky,namhoc,soqd,ngayqd
762,13965.0,E92C604FXPvAibaEXe+TFgEDwYNnvUQ2ahxW4uwh,3.0,,3.0,2018.0,443/QĐ-ĐHCNTT,2019-08-01
1491,18714.0,5A1EB3B7XPvAibaEXe9WcTnuikKYKuntAYeb6Idm,3.0,,1.0,2020.0,878/QĐ-ĐHCNTT,2020-12-07
716,13912.0,981C7989XPvAibaEXe9P07hcrvmhCcxHupzWlaJ2,3.0,,3.0,2018.0,443/QĐ-ĐHCNTT,2019-08-01

In [60]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1880 entries, 0 to 1879
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1878 non-null   float64
 1    masv       1878 non-null   object
 2    tinhtrang  1878 non-null   float64
 3    lydo       1878 non-null   object
 4    hocky      1878 non-null   float64
 5    namhoc     1878 non-null   float64
 6    soqd       1878 non-null   object
 7    ngayqd     1878 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(3)
memory usage: 117.6+ KB

In [61]:
primary_key = ['mssv', 'hoc_ky', 'nam_hoc', 'ngay_quyet_dinh']

In [62]:
new_df.id.value_counts(dropna=False)

id
NaN        2
7532.0     1
17722.0    1
17736.0    1
17735.0    1
          ..
13743.0    1
13742.0    1
13741.0    1
13740.0    1
21468.0    1
Name: count, Length: 1879, dtype: int64

In [63]:
new_df.id.describe()

count     1878.000000
mean     15277.806177
std       4063.225831
min       7532.000000
25%      13571.250000
50%      14312.500000
75%      18439.750000
max      21468.000000
Name: id, dtype: float64

In [64]:
new_df.drop('id', axis=1, inplace=True)

In [65]:
new_df.columns

Index([' masv', ' tinhtrang', ' lydo', ' hocky', ' namhoc', ' soqd',
       ' ngayqd'],
      dtype='object')

In [66]:
new_df.columns = ['mssv', 'tinh_trang', 'ly_do',
                  'hoc_ky', 'nam_hoc', 'so_quyet_dinh', 'ngay_quyet_dinh']

In [67]:
new_df.mssv = new_df.mssv.astype('category')
new_df.mssv.value_counts(dropna=False)

mssv
6CDA0ED7XPvAibaEXe+BHZkA9XgGXSS4BHzShGje    3
EDD0F071XPvAibaEXe+BHZkA9XgGXcEipjLDOZCD    3
FFE9E452XPvAibaEXe+6MN9FoW2mqXtx1lMTF9+D    3
ACC4D198XPvAibaEXe+5oCRQPDKXspsKZR6r2Sfg    3
29430069XPvAibaEXe+TFgEDwYNnvUaz/ItEjR3K    2
                                           ..
5809EDABXPvAibaEXe/iDuY0411CJlTRP5+oneq9    1
57E13A61XPvAibaEXe8+PBTAPRlCY4Fxg0JLezSn    1
57C7C955XPvAibaEXe+9GFX9aWroRJfzpb5XMZKA    1
57A9F0AEXPvAibaEXe8T1DiYsmlfsSBkagc8gdBG    1
815BC6BAXPvAibaEXe+PVAbtvmWztjKUVtlCbbjs    1
Name: count, Length: 1845, dtype: int64

In [68]:
new_df[new_df.mssv.isnull()]

     mssv  tinh_trang ly_do  hoc_ky  nam_hoc so_quyet_dinh ngay_quyet_dinh
756   NaN         NaN   NaN     NaN      NaN           NaN             NaT
1512  NaN         NaN   NaN     NaN      NaN           NaN             NaT

In [69]:
new_df = new_df[new_df.mssv.notnull()]

In [70]:
new_df[new_df.mssv.isnull()]

Empty DataFrame
Columns: [mssv, tinh_trang, ly_do, hoc_ky, nam_hoc, so_quyet_dinh, ngay_quyet_dinh]
Index: []

In [71]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1878 entries, 0 to 1879
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mssv             1878 non-null   category
 1   tinh_trang       1878 non-null   float64
 2   ly_do            1878 non-null   object
 3   hoc_ky           1878 non-null   float64
 4   nam_hoc          1878 non-null   float64
 5   so_quyet_dinh    1878 non-null   object
 6   ngay_quyet_dinh  1878 non-null   datetime64[ns]
dtypes: category(1), datetime64[ns](1), float64(3), object(2)
memory usage: 185.3+ KB

In [72]:
new_df.tinh_trang.value_counts(dropna=False)

tinh_trang
3.0    1878
Name: count, dtype: int64

In [73]:
mapping_dict = {
    3.0: '3',
}
new_df.tinh_trang = new_df.tinh_trang.replace(mapping_dict).astype("category")

In [74]:
new_df.tinh_trang.value_counts(dropna=False)

tinh_trang
3    1878
Name: count, dtype: int64

In [75]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1878 entries, 0 to 1879
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mssv             1878 non-null   category
 1   tinh_trang       1878 non-null   category
 2   ly_do            1878 non-null   object
 3   hoc_ky           1878 non-null   float64
 4   nam_hoc          1878 non-null   float64
 5   so_quyet_dinh    1878 non-null   object
 6   ngay_quyet_dinh  1878 non-null   datetime64[ns]
dtypes: category(2), datetime64[ns](1), float64(2), object(2)
memory usage: 172.6+ KB

In [76]:
new_df.ly_do.value_counts(dropna=False)

ly_do
                                                                        1666
 Tốt nghiệp                                                              198
 QĐ điều chỉnh ngành TN                                                    9
 Chứng chỉ Anh văn không đạt --> CNTN tốt nghiệp chuyển sang hệ CQĐT       4
 TN                                                                        1
Name: count, dtype: int64

In [77]:
def remove_duplicate_ly_do(ly_do):
    if pd.isnull(ly_do) or str(ly_do).strip() == '':
        return None

    ly_do = str(ly_do).strip()
    ly_do = 'Tốt nghiệp' if ly_do == 'TN' else ly_do
    return ly_do

new_df.ly_do = new_df.ly_do.apply(remove_duplicate_ly_do).astype('category')

In [78]:
new_df.ly_do.value_counts(dropna=False)

ly_do
NaN                                                                    1666
Tốt nghiệp                                                              199
QĐ điều chỉnh ngành TN                                                    9
Chứng chỉ Anh văn không đạt --> CNTN tốt nghiệp chuyển sang hệ CQĐT       4
Name: count, dtype: int64

In [79]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1878 entries, 0 to 1879
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mssv             1878 non-null   category
 1   tinh_trang       1878 non-null   category
 2   ly_do            212 non-null    category
 3   hoc_ky           1878 non-null   float64
 4   nam_hoc          1878 non-null   float64
 5   so_quyet_dinh    1878 non-null   object
 6   ngay_quyet_dinh  1878 non-null   datetime64[ns]
dtypes: category(3), datetime64[ns](1), float64(2), object(1)
memory usage: 159.9+ KB

In [80]:
new_df.hoc_ky.value_counts(dropna=False)

hoc_ky
1.0    909
2.0    891
3.0     78
Name: count, dtype: int64

In [81]:
mapping_dict = {
    1.0: '1',
    2.0: '2',
    3.0: '3',
}

new_df.hoc_ky = new_df.hoc_ky.replace(mapping_dict).astype('category')

In [82]:
new_df.hoc_ky.value_counts(dropna=False)

hoc_ky
1    909
2    891
3     78
Name: count, dtype: int64

In [83]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1878 entries, 0 to 1879
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mssv             1878 non-null   category
 1   tinh_trang       1878 non-null   category
 2   ly_do            212 non-null    category
 3   hoc_ky           1878 non-null   category
 4   nam_hoc          1878 non-null   float64
 5   so_quyet_dinh    1878 non-null   object
 6   ngay_quyet_dinh  1878 non-null   datetime64[ns]
dtypes: category(4), datetime64[ns](1), float64(1), object(1)
memory usage: 147.2+ KB

In [84]:
new_df.nam_hoc.value_counts(dropna=False)

nam_hoc
2020.0    726
2018.0    441
2019.0    358
2017.0    352
2016.0      1
Name: count, dtype: int64

In [85]:
mapping_dict = {
    2020.0: '2020',
    2019.0: '2019',
    2018.0: '2018',
    2017.0: '2017',
    2016.0: '2016',
}

new_df.nam_hoc = new_df.nam_hoc.replace(mapping_dict).astype('category')

In [86]:
new_df.nam_hoc.value_counts(dropna=False)

nam_hoc
2020    726
2018    441
2019    358
2017    352
2016      1
Name: count, dtype: int64

In [87]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1878 entries, 0 to 1879
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mssv             1878 non-null   category
 1   tinh_trang       1878 non-null   category
 2   ly_do            212 non-null    category
 3   hoc_ky           1878 non-null   category
 4   nam_hoc          1878 non-null   category
 5   so_quyet_dinh    1878 non-null   object
 6   ngay_quyet_dinh  1878 non-null   datetime64[ns]
dtypes: category(5), datetime64[ns](1), object(1)
memory usage: 134.5+ KB

In [88]:
new_df.so_quyet_dinh.value_counts(dropna=False)

so_quyet_dinh
 542/QĐ-ĐHCNTT     204
 189/QĐ-ĐHCNTT     198
 222/QĐ-ĐHCNTT     183
 675/QĐ-ĐHCNTT     164
 204 /QĐ-ĐHCNTT    157
 354 /QĐ-ĐHCNTT    146
 777/QĐ-ĐHCNTT     118
 621/QĐ-ĐHCNTT     111
 713/QD-DHCNTT      93
 214/QĐ-ĐHCNTT      93
 443/QĐ-ĐHCNTT      77
 960/QĐ-ĐHCNTT      53
 13/QĐ-ĐHCNTT       51
 955/QĐ-ĐHCNTT      38
 66 /QĐ-ĐHCNTT      20
258                 19
 823/QĐ_ĐHCNTT      19
 761/QĐ-ĐHCNTT      18
 878/QĐ-ĐHCNTT      15
 384/QĐ-ĐHCNTT      14
236                 12
 233/QĐ-ĐHCNTT       9
 811/QĐ-ĐHCNTT       8
 320/QĐ-ĐHCNTT       8
 249/QĐ-ĐHCNTT       8
 595/QĐ-ĐHCNTT       7
 298 /QĐ-ĐHCNTT      7
 713/QĐ-ĐHCNTT       4
 325/QĐ-ĐHCNTT       3
 310/QĐ-ĐHCNTT       2
 370/QĐ-ĐHCNTT       2
306                  2
 733/QĐ-ĐHCNTT       2
 829/QĐ-ĐHCNTT       2
 430/QĐ-ĐHCNTT       1
 391/QĐ-ĐHCNTT       1
 178 /QĐ-ĐHCNTT      1
 239/QĐ-ĐHCNTT       1
 242/QĐ-ĐHCNTT       1
 852 /QĐ-ĐHCNTT      1
 344 /QĐ-ĐHCNTT      1
 341 /QĐ-ĐHCNTT      1
 243/QĐ-ĐHCNTT       1
 772/QĐ_ĐHCNTT       1
 519/QĐ-ĐHCNTT       1
Name: count, dtype: int64

In [89]:
def remove_duplicate_so_quyet_dinh(so_quyet_dinh):
    if pd.isnull(so_quyet_dinh):
        return so_quyet_dinh

    digit = ''.join(filter(str.isdigit, so_quyet_dinh))
    so_quyet_dinh = digit + '/QĐ-ĐHCNTT'
    return so_quyet_dinh

new_df.so_quyet_dinh = new_df.so_quyet_dinh.apply(remove_duplicate_so_quyet_dinh).astype('category')

In [90]:
new_df.so_quyet_dinh.value_counts(dropna=False)

so_quyet_dinh
542/QĐ-ĐHCNTT    204
189/QĐ-ĐHCNTT    198
222/QĐ-ĐHCNTT    183
675/QĐ-ĐHCNTT    164
204/QĐ-ĐHCNTT    157
354/QĐ-ĐHCNTT    146
777/QĐ-ĐHCNTT    118
621/QĐ-ĐHCNTT    111
713/QĐ-ĐHCNTT     97
214/QĐ-ĐHCNTT     93
443/QĐ-ĐHCNTT     77
960/QĐ-ĐHCNTT     53
13/QĐ-ĐHCNTT      51
955/QĐ-ĐHCNTT     38
66/QĐ-ĐHCNTT      20
823/QĐ-ĐHCNTT     19
258/QĐ-ĐHCNTT     19
761/QĐ-ĐHCNTT     18
878/QĐ-ĐHCNTT     15
384/QĐ-ĐHCNTT     14
236/QĐ-ĐHCNTT     12
233/QĐ-ĐHCNTT      9
249/QĐ-ĐHCNTT      8
320/QĐ-ĐHCNTT      8
811/QĐ-ĐHCNTT      8
298/QĐ-ĐHCNTT      7
595/QĐ-ĐHCNTT      7
325/QĐ-ĐHCNTT      3
370/QĐ-ĐHCNTT      2
306/QĐ-ĐHCNTT      2
310/QĐ-ĐHCNTT      2
829/QĐ-ĐHCNTT      2
733/QĐ-ĐHCNTT      2
852/QĐ-ĐHCNTT      1
341/QĐ-ĐHCNTT      1
344/QĐ-ĐHCNTT      1
519/QĐ-ĐHCNTT      1
243/QĐ-ĐHCNTT      1
178/QĐ-ĐHCNTT      1
391/QĐ-ĐHCNTT      1
239/QĐ-ĐHCNTT      1
430/QĐ-ĐHCNTT      1
242/QĐ-ĐHCNTT      1
772/QĐ-ĐHCNTT      1
Name: count, dtype: int64

In [91]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1878 entries, 0 to 1879
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mssv             1878 non-null   category
 1   tinh_trang       1878 non-null   category
 2   ly_do            212 non-null    category
 3   hoc_ky           1878 non-null   category
 4   nam_hoc          1878 non-null   category
 5   so_quyet_dinh    1878 non-null   category
 6   ngay_quyet_dinh  1878 non-null   datetime64[ns]
dtypes: category(6), datetime64[ns](1)
memory usage: 123.1 KB

In [92]:
new_df.ngay_quyet_dinh.value_counts(dropna=False)

ngay_quyet_dinh
2020-08-31    204
2021-04-01    198
2018-04-10    183
2019-10-11    164
2019-04-12    157
2021-06-09    146
2020-11-12    118
2018-10-10    111
2017-10-06     97
2020-05-18     93
2019-08-01     77
2019-12-31     53
2019-01-10     51
2020-12-30     38
2017-11-21     20
2018-01-19     20
2019-05-10     19
2019-11-05     18
2020-12-07     15
2018-07-03     14
2019-05-02     12
2018-04-16      9
2020-06-17      8
2018-04-26      8
2019-11-22      8
2019-05-23      7
2020-09-24      7
2020-06-19      3
2019-10-28      2
2018-12-06      2
2019-05-29      2
2020-06-15      2
2020-07-07      2
2019-12-02      1
2019-06-10      1
2019-06-05      1
2020-07-16      1
2020-07-31      1
2018-04-23      1
2019-08-26      1
2020-05-26      1
2020-05-27      1
2017-04-14      1
Name: count, dtype: int64

In [93]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1878 entries, 0 to 1879
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mssv             1878 non-null   category
 1   tinh_trang       1878 non-null   category
 2   ly_do            212 non-null    category
 3   hoc_ky           1878 non-null   category
 4   nam_hoc          1878 non-null   category
 5   so_quyet_dinh    1878 non-null   category
 6   ngay_quyet_dinh  1878 non-null   datetime64[ns]
dtypes: category(6), datetime64[ns](1)
memory usage: 123.1 KB

In [94]:
new_df[['ly_do', 'hoc_ky',
        'nam_hoc', 'so_quyet_dinh']].drop_duplicates()

,ly_do,hoc_ky,nam_hoc,so_quyet_dinh
0,Tốt nghiệp,2,2016,178/QĐ-ĐHCNTT
1,NaN,1,2017,713/QĐ-ĐHCNTT
94,Chứng chỉ Anh văn không đạt --> CNTN tốt nghiệ...,1,2017,713/QĐ-ĐHCNTT
98,NaN,1,2017,823/QĐ-ĐHCNTT
117,NaN,1,2017,772/QĐ-ĐHCNTT
118,NaN,2,2017,66/QĐ-ĐHCNTT
138,NaN,2,2017,222/QĐ-ĐHCNTT
321,QĐ điều chỉnh ngành TN,2,2017,233/QĐ-ĐHCNTT
330,NaN,2,2017,249/QĐ-ĐHCNTT
338,NaN,2,2017,243/QĐ-ĐHCNTT
339,NaN,2,2017,384/QĐ-ĐHCNTT
353,NaN,1,2018,621/QĐ-ĐHCNTT
464,NaN,1,2018,829/QĐ-ĐHCNTT
466,NaN,2,2018,204/QĐ-ĐHCNTT
623,NaN,2,2018,236/QĐ-ĐHCNTT
635,NaN,2,2018,258/QĐ-ĐHCNTT
654,NaN,2,2018,298/QĐ-ĐHCNTT
661,NaN,2,2018,306/QĐ-ĐHCNTT
663,NaN,2,2018,341/QĐ-ĐHCNTT
664,NaN,2,2018,344/QĐ-ĐHCNTT
665,NaN,1,2018,13/QĐ-ĐHCNTT
716,NaN,3,2018,443/QĐ-ĐHCNTT
794,NaN,3,2018,519/QĐ-ĐHCNTT
795,NaN,1,2019,675/QĐ-ĐHCNTT
959,NaN,1,2019,733/QĐ-ĐHCNTT
961,NaN,1,2019,761/QĐ-ĐHCNTT
979,NaN,1,2019,811/QĐ-ĐHCNTT
987,NaN,1,2019,852/QĐ-ĐHCNTT
988,NaN,1,2019,960/QĐ-ĐHCNTT
1041,NaN,2,2019,214/QĐ-ĐHCNTT
1134,NaN,2,2019,242/QĐ-ĐHCNTT
1135,NaN,2,2019,239/QĐ-ĐHCNTT
1136,NaN,2,2019,320/QĐ-ĐHCNTT
1144,NaN,2,2019,310/QĐ-ĐHCNTT
1146,NaN,2,2019,325/QĐ-ĐHCNTT
1149,NaN,2,2019,370/QĐ-ĐHCNTT
1151,NaN,2,2019,391/QĐ-ĐHCNTT
1152,NaN,2,2019,430/QĐ-ĐHCNTT
1153,NaN,1,2020,542/QĐ-ĐHCNTT
1357,NaN,1,2020,595/QĐ-ĐHCNTT
1364,NaN,1,2020,777/QĐ-ĐHCNTT
1482,NaN,1,2020,878/QĐ-ĐHCNTT
1497,NaN,1,2020,955/QĐ-ĐHCNTT
1536,Tốt nghiệp,2,2020,189/QĐ-ĐHCNTT
1734,NaN,2,2020,354/QĐ-ĐHCNTT

In [95]:
new_df.drop('ly_do', axis=1, inplace=True)

In [96]:
new_df[new_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [mssv, tinh_trang, hoc_ky, nam_hoc, so_quyet_dinh, ngay_quyet_dinh]
Index: []

In [97]:
new_df[primary_key].duplicated().sum()

4

In [109]:
primary_key

['mssv', 'hoc_ky', 'nam_hoc', 'ngay_quyet_dinh']

In [98]:
new_df[new_df[primary_key].duplicated(keep=False)]

,mssv,tinh_trang,hoc_ky,nam_hoc,so_quyet_dinh,ngay_quyet_dinh
44,FFE9E452XPvAibaEXe+6MN9FoW2mqXtx1lMTF9+D,3,1,2017,713/QĐ-ĐHCNTT,2017-10-06
45,6CDA0ED7XPvAibaEXe+BHZkA9XgGXSS4BHzShGje,3,1,2017,713/QĐ-ĐHCNTT,2017-10-06
46,EDD0F071XPvAibaEXe+BHZkA9XgGXcEipjLDOZCD,3,1,2017,713/QĐ-ĐHCNTT,2017-10-06
47,ACC4D198XPvAibaEXe+5oCRQPDKXspsKZR6r2Sfg,3,1,2017,713/QĐ-ĐHCNTT,2017-10-06
94,6CDA0ED7XPvAibaEXe+BHZkA9XgGXSS4BHzShGje,3,1,2017,713/QĐ-ĐHCNTT,2017-10-06
95,EDD0F071XPvAibaEXe+BHZkA9XgGXcEipjLDOZCD,3,1,2017,713/QĐ-ĐHCNTT,2017-10-06
96,FFE9E452XPvAibaEXe+6MN9FoW2mqXtx1lMTF9+D,3,1,2017,713/QĐ-ĐHCNTT,2017-10-06
97,ACC4D198XPvAibaEXe+5oCRQPDKXspsKZR6r2Sfg,3,1,2017,713/QĐ-ĐHCNTT,2017-10-06

In [99]:
new_df.drop_duplicates(inplace=True)

In [100]:
new_df[primary_key].duplicated().sum()

0

In [101]:
(new_df.nam_hoc.astype('int64') > new_df.ngay_quyet_dinh.dt.year).sum()

0

# Final Check and Save

In [102]:
new_df[new_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [mssv, tinh_trang, hoc_ky, nam_hoc, so_quyet_dinh, ngay_quyet_dinh]
Index: []

In [103]:
new_df[primary_key].duplicated().sum()

0

In [104]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1874 entries, 0 to 1879
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mssv             1874 non-null   category
 1   tinh_trang       1874 non-null   category
 2   hoc_ky           1874 non-null   category
 3   nam_hoc          1874 non-null   category
 4   so_quyet_dinh    1874 non-null   category
 5   ngay_quyet_dinh  1874 non-null   datetime64[ns]
dtypes: category(5), datetime64[ns](1)
memory usage: 121.0 KB

In [105]:
new_df.sample(5)

,mssv,tinh_trang,hoc_ky,nam_hoc,so_quyet_dinh,ngay_quyet_dinh
1098,1106FA33XPvAibaEXe9YXJ3+ew7OHKsvWp1ooUPy,3,2,2019,214/QĐ-ĐHCNTT,2020-05-18
1440,FADAFB89XPvAibaEXe88tz7NL7l/gvG6t/E6GXcF,3,1,2020,777/QĐ-ĐHCNTT,2020-11-12
186,9D61C40EXPvAibaEXe+TFgEDwYNnvTf7BJNA2L5v,3,2,2017,222/QĐ-ĐHCNTT,2018-04-10
893,FC927255XPvAibaEXe9iOtseai5jcudBZ3L3DRRv,3,1,2019,675/QĐ-ĐHCNTT,2019-10-11
886,D396F33FXPvAibaEXe+k2gCw0RZzlacMv04fDVkq,3,1,2019,675/QĐ-ĐHCNTT,2019-10-11

In [106]:
clean_data_folder = Path("../../clean_data")
new_df.to_parquet(clean_data_folder/f"{data_stem}.parquet", index=False)
haha = pd.read_parquet(clean_data_folder/f"{data_stem}.parquet")
haha.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1874 entries, 0 to 1873
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mssv             1874 non-null   category
 1   tinh_trang       1874 non-null   category
 2   hoc_ky           1874 non-null   category
 3   nam_hoc          1874 non-null   category
 4   so_quyet_dinh    1874 non-null   category
 5   ngay_quyet_dinh  1874 non-null   datetime64[ns]
dtypes: category(5), datetime64[ns](1)
memory usage: 106.5 KB

In [107]:
haha.sample(10)

,mssv,tinh_trang,hoc_ky,nam_hoc,so_quyet_dinh,ngay_quyet_dinh
1202,9B498412XPvAibaEXe/XOPUzjjLegJ07OJR+rTz/,3,1,2020,542/QĐ-ĐHCNTT,2020-08-31
72,6BB4FBF8XPvAibaEXe/XBbLEWRhgQYrCodpVCa+j,3,1,2017,713/QĐ-ĐHCNTT,2017-10-06
1220,B03D2622XPvAibaEXe/nRR7q+hWy3B7LsqApcm/p,3,1,2020,542/QĐ-ĐHCNTT,2020-08-31
3,C307F053XPvAibaEXe+nZBq3b0XEhX8PABYu6iV1,3,1,2017,713/QĐ-ĐHCNTT,2017-10-06
517,3694E5E6XPvAibaEXe9HXpb1PepyFV6dAscob+FU,3,2,2018,204/QĐ-ĐHCNTT,2019-04-12
976,663059EDXPvAibaEXe81w9eVvyp+lwee1dbVEnHw,3,1,2019,811/QĐ-ĐHCNTT,2019-11-22
599,E5E4FE41XPvAibaEXe+uQMKXqrwYdirU0LUrWWkQ,3,2,2018,204/QĐ-ĐHCNTT,2019-04-12
1018,16272517XPvAibaEXe/twRH8x8eyg2tiyMsTM1XC,3,1,2019,960/QĐ-ĐHCNTT,2019-12-31
964,396D7784XPvAibaEXe+TQJLvJOj4BcG6LAOxINL3,3,1,2019,761/QĐ-ĐHCNTT,2019-11-05
1070,6C377858XPvAibaEXe+YGniCiyMp0zgviDn2PyE6,3,2,2019,214/QĐ-ĐHCNTT,2020-05-18

In [108]:
os.listdir(clean_data_folder)

['12.baoluu.parquet',
 'diem_Thu.parquet',
 'sinhvien_dtb_toankhoa.parquet',
 'uit_hocphi_miengiam.parquet',
 'diemrl.parquet',
 'sinhvien_dtb_hocky.parquet',
 'desktop.ini',
 '14.totnghiep.parquet',
 '1.sinhvien.xlsx',
 '2.diem.xlsx',
 '3.sinhvien_chungchi.xlsx',
 '4.xeploaiav.xlsx',
 '5.Thisinh.xlsx',
 '6.giayxacnhan.xlsx',
 '8.XLHV.xlsx',
 '10.diemrl.xlsx',
 'enriched_dtb_hk.parquet',
 'desktop.ini']