In [1]:
from pathlib import Path
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_folder = Path("../../Education_dataset_V2")
os.listdir(data_folder)

['00.ghichu.txt',
 '00_dhcntt-dtdh_19-01-2016_scan.pdf',
 '01.sinhvien.xlsx',
 '02.diem.xlsx',
 '03.sinhvien_chungchi.xlsx',
 '04.xeploaiav.xlsx',
 '05.ThiSinh.xlsx',
 '06.giayxacnhan.xlsx',
 '08.XLHV.xlsx',
 '10.diemrl.xlsx',
 '12.baoluu.xlsx',
 '14.totnghiep.xlsx',
 'diemrl.xlsx',
 'diem_Thu.xlsx',
 'Education_dataset_V2.rar',
 'sinhvien_dtb_hocky.xlsx',
 'sinhvien_dtb_toankhoa.xlsx',
 'uit_hocphi_miengiam.xlsx']

In [3]:
data_stem = '14.totnghiep'
old_df = pd.read_excel(data_folder/f"{data_stem}.xlsx")
new_df = old_df.copy(deep = True)

In [4]:
new_df.sample(3)

,id,mssv,xeploai,soquyetdinh,ngaycapvb
823,78064.0,0821621DXPvAibaEXe/btl79MArZLF7Vr4ovU5Xz,Khá,675/QĐ-ĐHCNTT,11/10/2019
1535,79527.0,8A88A218XPvAibaEXe+zCbAzes7Ying9a24Y8lNu,Khá,189/QĐ-ĐHCNTT,04/01/2021
1673,79671.0,8DBCBC74XPvAibaEXe+F5/cNCOrl8SRUhg2MAqol,Khá,189/QĐ-ĐHCNTT,04/01/2021

In [5]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1847 entries, 0 to 1846
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1845 non-null   float64
 1   mssv          1845 non-null   object
 2    xeploai      1845 non-null   object
 3    soquyetdinh  1845 non-null   object
 4    ngaycapvb    1845 non-null   object
dtypes: float64(1), object(4)
memory usage: 72.3+ KB

In [6]:
new_df.id

0       76328.0
1       76663.0
2       76664.0
3       76665.0
4       76666.0
         ...
1842    79855.0
1843    79856.0
1844    79857.0
1845    79858.0
1846    79859.0
Name: id, Length: 1847, dtype: float64

In [7]:
new_df.drop('id', axis=1, inplace=True)

In [8]:
new_df.columns = ['mssv', 'xep_loai', 'so_quyet_dinh', 'ngay_cap_vb']

In [9]:
new_df.mssv = new_df.mssv.astype('category')
new_df.mssv.value_counts(dropna=False)

mssv
NaN                                         2
ADD6626AXPvAibaEXe/SxwNRab2vgDj3JMKIXWrE    1
ADB95D1BXPvAibaEXe+JF4o+SEKcGDSWthX0QZQy    1
ADAD1DFFXPvAibaEXe+YGniCiyMp078xVotQB4/i    1
AD9E064BXPvAibaEXe/GP74oAJxkeAi0ENPwa1up    1
                                           ..
578A7225XPvAibaEXe8hvnm4ihleLUtcWtYNAOFi    1
5744B505XPvAibaEXe/9n4RXguPAYLy1ULuVcNNN    1
57203F91XPvAibaEXe9JDlHA4z2GHFHVJ5vTRj7d    1
5700075FXPvAibaEXe/rtk4wDmxi91Qm4QLXujt6    1
815DC6D5XPvAibaEXe9iBRrLJjO8dUXgzuC1uGLg    1
Name: count, Length: 1846, dtype: int64

In [10]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1847 entries, 0 to 1846
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   mssv           1845 non-null   category
 1   xep_loai       1845 non-null   object
 2   so_quyet_dinh  1845 non-null   object
 3   ngay_cap_vb    1845 non-null   object
dtypes: category(1), object(3)
memory usage: 126.0+ KB

In [11]:
new_df.xep_loai.value_counts(dropna=False)

xep_loai
 Khá               1125
 Giỏi               447
 Trung bình khá     132
 TB Khá              92
 Trung bình Khá      40
 Xuất sắc             7
NaN                   2
 TB khá               2
Name: count, dtype: int64

In [12]:
tb_kha = 'Trung bình khá'
mapping_dict = {
    ' Trung bình khá': tb_kha,
    ' Trung bình Khá': tb_kha,
    ' TB Khá': tb_kha,
    ' TB khá': tb_kha,
    ' Khá': 'Khá',
    ' Giỏi': 'Giỏi',
    ' Xuất sắc': 'Xuất sắc',
}
new_df.xep_loai = new_df.xep_loai.replace(mapping_dict).astype('category')

In [13]:
new_df.xep_loai.value_counts(dropna=False)

xep_loai
Khá               1125
Giỏi               447
Trung bình khá     266
Xuất sắc             7
NaN                  2
Name: count, dtype: int64

In [14]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1847 entries, 0 to 1846
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   mssv           1845 non-null   category
 1   xep_loai       1845 non-null   category
 2   so_quyet_dinh  1845 non-null   object
 3   ngay_cap_vb    1845 non-null   object
dtypes: category(2), object(2)
memory usage: 113.5+ KB

In [15]:
new_df.so_quyet_dinh.value_counts(dropna=False)

so_quyet_dinh
 542/QĐ_ĐHCNTT    204
 189/QĐ-ĐHCNTT    198
 222/QĐ-ĐHCNTT    174
 675/QĐ-ĐHCNTT    164
 204/QĐ-ĐHCNTT    157
 354/QĐ-ĐHCNTT    147
 777/QĐ-ĐHCNTT    118
 621/QĐ-ĐHCNTT    111
 214/QĐ_ĐHCNTT     93
 443-QD-DHCNTT     77
 713/QĐ_ĐHCNTT     73
 960/QĐ-ĐHCNTT     53
 13/QĐ-ĐHCNTT      51
 955/QĐ-ĐHCNTT     38
 66/QĐ_ĐHCNTT      20
 823/QĐ_ĐHCNTT     19
 258/QĐ-ĐHCNTT     19
 761/QĐ-ĐHCNTT     18
 878/QĐ-ĐHCNTT     15
 384/QĐ-ĐHCNTT     14
 236/QĐ-ĐHCNTT     12
 233/QĐ-ĐHCNTT      9
 249/QĐ-ĐHCNTT      8
 811/QĐ-ĐHCNTT      8
 320/QĐ_ĐHCNTT      8
 298/QĐ-ĐHCNTT      7
 595/QĐ_ĐHCNTT      7
 325/QĐ_ĐHCNTT      3
 370/QĐ_ĐHCNTT      2
 310/QĐ_ĐHCNTT      2
NaN                 2
 733/QĐ-ĐHCNTT      2
 306/QĐ-ĐHCNTT      2
 829/QĐ-ĐHCNTT      2
 239/QĐ_ĐHCNTT      1
 242/QĐ_ĐHCNTT      1
 852/QĐ-ĐHCNTT      1
 391/QĐ_ĐHCNTT      1
 430/QĐ_ĐHCNTT      1
 519-QD-DHCNTT      1
 344/QĐ-ĐHCNTT      1
 341/QĐ-ĐHCNTT      1
 772/QĐ_ĐHCNTT      1
 178/QĐ_ĐHCNTT      1
Name: count, dtype: int64

In [16]:
def remove_duplicate_so_quyet_dinh(so_quyet_dinh):
    if pd.isnull(so_quyet_dinh):
        return so_quyet_dinh

    so_quyet_dinh = str(so_quyet_dinh).strip()
    digit = so_quyet_dinh[:-10]
    assert digit.isdigit(), so_quyet_dinh
    so_quyet_dinh = digit + '/QĐ-ĐHCNTT'
    return so_quyet_dinh

new_df.so_quyet_dinh = new_df.so_quyet_dinh.apply(remove_duplicate_so_quyet_dinh).astype('category')

In [17]:
new_df.so_quyet_dinh.value_counts(dropna=False)

so_quyet_dinh
542/QĐ-ĐHCNTT    204
189/QĐ-ĐHCNTT    198
222/QĐ-ĐHCNTT    174
675/QĐ-ĐHCNTT    164
204/QĐ-ĐHCNTT    157
354/QĐ-ĐHCNTT    147
777/QĐ-ĐHCNTT    118
621/QĐ-ĐHCNTT    111
214/QĐ-ĐHCNTT     93
443/QĐ-ĐHCNTT     77
713/QĐ-ĐHCNTT     73
960/QĐ-ĐHCNTT     53
13/QĐ-ĐHCNTT      51
955/QĐ-ĐHCNTT     38
66/QĐ-ĐHCNTT      20
823/QĐ-ĐHCNTT     19
258/QĐ-ĐHCNTT     19
761/QĐ-ĐHCNTT     18
878/QĐ-ĐHCNTT     15
384/QĐ-ĐHCNTT     14
236/QĐ-ĐHCNTT     12
233/QĐ-ĐHCNTT      9
811/QĐ-ĐHCNTT      8
249/QĐ-ĐHCNTT      8
320/QĐ-ĐHCNTT      8
298/QĐ-ĐHCNTT      7
595/QĐ-ĐHCNTT      7
325/QĐ-ĐHCNTT      3
829/QĐ-ĐHCNTT      2
733/QĐ-ĐHCNTT      2
NaN                2
370/QĐ-ĐHCNTT      2
310/QĐ-ĐHCNTT      2
306/QĐ-ĐHCNTT      2
519/QĐ-ĐHCNTT      1
430/QĐ-ĐHCNTT      1
178/QĐ-ĐHCNTT      1
772/QĐ-ĐHCNTT      1
344/QĐ-ĐHCNTT      1
341/QĐ-ĐHCNTT      1
852/QĐ-ĐHCNTT      1
242/QĐ-ĐHCNTT      1
239/QĐ-ĐHCNTT      1
391/QĐ-ĐHCNTT      1
Name: count, dtype: int64

In [18]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1847 entries, 0 to 1846
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   mssv           1845 non-null   category
 1   xep_loai       1845 non-null   category
 2   so_quyet_dinh  1845 non-null   category
 3   ngay_cap_vb    1845 non-null   object
dtypes: category(3), object(1)
memory usage: 102.3+ KB

In [19]:
new_df.ngay_cap_vb.value_counts(dropna=False)

ngay_cap_vb
 31/08/2020      204
 04/01/2021      198
 10/04/2018      174
 11/10/2019      163
 12/04/2019      157
 09/6/2021       145
 12/11/2020      118
 10/10/2018      111
 18/05/2020       93
 01/08/2019       77
 06/10/2017       73
 31/12/2019       53
 10/01/2019       51
 30/12/2020       38
 19/01/2018       20
 10/05/2019       19
 21/11/2017       19
 05/11/2019       18
 07/12/2020       15
 03/07/2018       14
 02/05/2019       12
 16/04/2018        9
 17/06/2020        8
 22/11/2019        8
 26/04/2018        8
 23/05/2019        7
 24/09/2020        7
 19/06/2020        3
NaN                2
 07/07/2020        2
 15/06/2020        2
 09/6/2021);       2
 28/10/2019        2
 29/05/2019        2
 06/12/2018        2
 26/05/2020        1
 27-5-2020         1
 02/12/2019        1
 16/07/2020        1
 31/07/2020        1
 11/10/2019);      1
 26/08/2019        1
 10/06/2019        1
 05/06/2019        1
 07/11/2017        1
 14/04/2017        1
Name: count, dtype: int64

In [20]:
def remove_duplicate_ngay_cap_vb(ngay_cap_vb):
    if pd.isnull(ngay_cap_vb):
        return ngay_cap_vb

    ngay_cap_vb = str(ngay_cap_vb).strip().strip(';').strip(')')
    if '-' in ngay_cap_vb:
        ngay_cap_vb = ngay_cap_vb.replace('-', '/')
    return ngay_cap_vb

new_df.ngay_cap_vb = new_df.ngay_cap_vb.apply(remove_duplicate_ngay_cap_vb)
new_df.ngay_cap_vb = pd.to_datetime(new_df.ngay_cap_vb, format='%d/%m/%Y')

In [21]:
new_df.ngay_cap_vb.value_counts(dropna=False)

ngay_cap_vb
2020-08-31    204
2021-01-04    198
2018-04-10    174
2019-10-11    164
2019-04-12    157
2021-06-09    147
2020-11-12    118
2018-10-10    111
2020-05-18     93
2019-08-01     77
2017-10-06     73
2019-12-31     53
2019-01-10     51
2020-12-30     38
2018-01-19     20
2017-11-21     19
2019-05-10     19
2019-11-05     18
2020-12-07     15
2018-07-03     14
2019-05-02     12
2018-04-16      9
2018-04-26      8
2019-11-22      8
2020-06-17      8
2019-05-23      7
2020-09-24      7
2020-06-19      3
2020-07-07      2
2020-06-15      2
NaT             2
2019-10-28      2
2019-05-29      2
2018-12-06      2
2020-05-26      1
2020-05-27      1
2019-12-02      1
2020-07-16      1
2020-07-31      1
2019-08-26      1
2019-06-10      1
2019-06-05      1
2017-11-07      1
2017-04-14      1
Name: count, dtype: int64

In [22]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1847 entries, 0 to 1846
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   mssv           1845 non-null   category
 1   xep_loai       1845 non-null   category
 2   so_quyet_dinh  1845 non-null   category
 3   ngay_cap_vb    1845 non-null   datetime64[ns]
dtypes: category(3), datetime64[ns](1)
memory usage: 102.3 KB

In [23]:
new_df[new_df.isnull().any(axis=1)]

     mssv xep_loai so_quyet_dinh ngay_cap_vb
852   NaN      NaN           NaN         NaT
1708  NaN      NaN           NaN         NaT

In [24]:
new_df.dropna(inplace=True)

In [25]:
new_df[new_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [mssv, xep_loai, so_quyet_dinh, ngay_cap_vb]
Index: []

In [26]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1845 entries, 0 to 1846
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   mssv           1845 non-null   category
 1   xep_loai       1845 non-null   category
 2   so_quyet_dinh  1845 non-null   category
 3   ngay_cap_vb    1845 non-null   datetime64[ns]
dtypes: category(3), datetime64[ns](1)
memory usage: 116.6 KB

In [27]:
new_df.sample(5)

,mssv,xep_loai,so_quyet_dinh,ngay_cap_vb
1764,C85FB68EXPvAibaEXe8qBtIUs9INC/7IxCWzbm9A,Khá,354/QĐ-ĐHCNTT,2021-06-09
191,9B47D5AEXPvAibaEXe8/3iNqySORb2yc7gdXyezc,Khá,222/QĐ-ĐHCNTT,2018-04-10
1087,5B9ABA61XPvAibaEXe+SgbKufUiN7Hulf6cw3ZZ0,Giỏi,214/QĐ-ĐHCNTT,2020-05-18
1311,96356A30XPvAibaEXe+/MvKIb2VAVS0s4jJCw70Q,Giỏi,542/QĐ-ĐHCNTT,2020-08-31
265,A9928B90XPvAibaEXe/+PcSgI7YkeTHdHkcRGsaJ,Giỏi,222/QĐ-ĐHCNTT,2018-04-10

In [28]:
clean_data_folder = Path("../../clean_data")
new_df.to_parquet(clean_data_folder/f"{data_stem}.parquet", index=False)
haha = pd.read_parquet(clean_data_folder/f"{data_stem}.parquet")
haha.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1845 entries, 0 to 1844
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   mssv           1845 non-null   category
 1   xep_loai       1845 non-null   category
 2   so_quyet_dinh  1845 non-null   category
 3   ngay_cap_vb    1845 non-null   datetime64[ns]
dtypes: category(3), datetime64[ns](1)
memory usage: 102.3 KB

In [30]:
haha.sample(10)

,mssv,xep_loai,so_quyet_dinh,ngay_cap_vb
809,1FC84966XPvAibaEXe917PYvJ9Jl7VDZwQFe1Zl4,Khá,675/QĐ-ĐHCNTT,2019-10-11
659,704E1F0AXPvAibaEXe/KGOYNCaEaWR+44ZAicZX/,Khá,258/QĐ-ĐHCNTT,2019-05-10
1812,8EA62CACXPvAibaEXe/rR9uJzGOYEp5iErX1dcP7,Khá,354/QĐ-ĐHCNTT,2021-06-09
998,CC66FB5EXPvAibaEXe/wvgrdNVCyf4qaNhqyOjdc,Khá,960/QĐ-ĐHCNTT,2019-12-31
1093,ADAD1DFFXPvAibaEXe+YGniCiyMp078xVotQB4/i,Giỏi,214/QĐ-ĐHCNTT,2020-05-18
959,C6FBD7C8XPvAibaEXe/KGOYNCaEaWevv6tAqytMz,Khá,960/QĐ-ĐHCNTT,2019-12-31
947,CA668C5DXPvAibaEXe+3zE134gecv65auNSJ4tNX,Giỏi,811/QĐ-ĐHCNTT,2019-11-22
0,E95E7C6DXPvAibaEXe+1j/AqdkpM22DHf6P99fDJ,Khá,178/QĐ-ĐHCNTT,2017-04-14
441,98FAD5F6XPvAibaEXe9fafwYRU+NptbcSqHyrp9L,Khá,13/QĐ-ĐHCNTT,2019-01-10
1019,EF6D3E34XPvAibaEXe9o3csoNuwUvO7brxBe1EBb,Trung bình khá,214/QĐ-ĐHCNTT,2020-05-18

In [31]:
os.listdir(clean_data_folder)

['14.totnghiep.parquet', 'uit_hocphi_miengiam.parquet']