In [1]:
from pathlib import Path
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_folder = Path("../../Education_dataset_V2")
os.listdir(data_folder)

['sinhvien_dtb_hocky.xlsx',
 'diem_Thu.xlsx',
 'Education_dataset_V2.rar',
 'sinhvien_dtb_toankhoa.xlsx',
 'uit_hocphi_miengiam.xlsx',
 '12.baoluu.xlsx',
 '14.totnghiep.xlsx',
 'diemrl.xlsx',
 '08.XLHV.xlsx',
 '05.ThiSinh.xlsx',
 '00.ghichu.txt',
 '03.sinhvien_chungchi.xlsx',
 '00_dhcntt-dtdh_19-01-2016_scan.pdf',
 '04.xeploaiav.xlsx',
 '10.diemrl.xlsx',
 '06.giayxacnhan.xlsx',
 '02.diem.xlsx',
 '01.sinhvien.xlsx',
 'desktop.ini']

In [3]:
data_stem = 'sinhvien_dtb_toankhoa'
old_df = pd.read_excel(data_folder/f"{data_stem}.xlsx")
new_df = old_df.copy(deep = True)

In [4]:
new_df.sample(3)

,mssv,dtb_toankhoa,dtb_tichluy,sotc_tichluy
4818,87AB1BF1XPvAibaEXe86krjHGvaiWxMmjETCt6JV,7.33,7.33,147.0
6684,1033CB0CXPvAibaEXe8BcBqSm3bVhnZ+dwRufBYc,8.42,8.42,120.0
13044,C6C9FDEFXPvAibaEXe/mlii9zXTIC2QM+reTL03d,5.66,6.44,22.0

In [5]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13970 entries, 0 to 13969
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mssv          13970 non-null  object
 1   dtb_toankhoa  13648 non-null  float64
 2   dtb_tichluy   13648 non-null  float64
 3   sotc_tichluy  13648 non-null  float64
dtypes: float64(3), object(1)
memory usage: 436.7+ KB

In [6]:
old_primary_key = ['mssv']
new_primary_key = ['mssv']

In [7]:
old_df.columns

Index(['mssv', 'dtb_toankhoa', 'dtb_tichluy', 'sotc_tichluy'], dtype='object')

In [8]:
new_df.columns = ['mssv', 'dtb_toan_khoa', 'dtb_tich_luy', 'so_tc_tich_luy']

In [9]:
new_df.describe()

       dtb_toan_khoa  dtb_tich_luy  so_tc_tich_luy
count   13648.000000  13648.000000    13648.000000
mean        6.916518      7.313278       94.115988
std         1.748020      1.396699       50.574767
min         0.000000      0.000000        0.000000
25%         6.550000      6.910000       50.000000
50%         7.370000      7.470000      104.000000
75%         8.010000      8.050000      141.000000
max         9.660000      9.660000      193.000000

In [10]:
for col in new_primary_key:
    print(new_df[new_df[col].isnull()])

Empty DataFrame
Columns: [mssv, dtb_toan_khoa, dtb_tich_luy, so_tc_tich_luy]
Index: []

In [11]:
new_df.duplicated().sum()

0

In [12]:
new_df.duplicated(subset=new_primary_key).sum()

0

# mssv

In [13]:
new_df.columns

Index(['mssv', 'dtb_toan_khoa', 'dtb_tich_luy', 'so_tc_tich_luy'], dtype='object')

In [14]:
new_df.mssv.dtype

dtype('O')

In [15]:
new_df.mssv.value_counts(dropna=False)

mssv
C410FEC4XPvAibaEXe/odi52as1TQ/z6UAtEIyTx    1
9EAF0738XPvAibaEXe9fwZBwsCOuQEjnKDCrGOX1    1
B2816B7BXPvAibaEXe/YKN5ysyYL7MS3vlfPnRU+    1
F06A3C0FXPvAibaEXe+NmgQbVGcjJ7ZdQvWRioyl    1
961AB4FAXPvAibaEXe//3t8+us0X0j9lAQyTb3ze    1
                                           ..
FDA9DEA1XPvAibaEXe+TQJLvJOj4Bbq7Gu36vTA9    1
D42EA478XPvAibaEXe+TQJLvJOj4BU9+RAzl3JCG    1
204D6AB9XPvAibaEXe9V1gtTDRnQFwJTG99TdLXu    1
0A275EF0XPvAibaEXe9j81k8MH0oJ07F7M1SwTm7    1
F3DA4B4EXPvAibaEXe/jswsdDHMZJUhPMDC53M8G    1
Name: count, Length: 13970, dtype: int64

In [16]:
new_df.mssv.isnull().sum()

0

In [17]:
new_df.mssv = new_df.mssv.str.strip()

In [18]:
new_df.mssv.str.len().value_counts(dropna=False)

mssv
40    13970
Name: count, dtype: int64

# dtb_toan_khoa

In [19]:
new_df.columns

Index(['mssv', 'dtb_toan_khoa', 'dtb_tich_luy', 'so_tc_tich_luy'], dtype='object')

In [20]:
new_df.dtb_toan_khoa.dtype

dtype('float64')

In [21]:
new_df.dtb_toan_khoa.value_counts(dropna=False)

dtb_toan_khoa
NaN     322
0.00    143
7.40     71
7.75     69
7.48     65
       ...
0.91      1
0.48      1
9.20      1
2.75      1
9.44      1
Name: count, Length: 891, dtype: int64

In [22]:
new_df.dtb_toan_khoa.isnull().sum()

322

In [23]:
new_df.dtb_toan_khoa.describe()

count    13648.000000
mean         6.916518
std          1.748020
min          0.000000
25%          6.550000
50%          7.370000
75%          8.010000
max          9.660000
Name: dtb_toan_khoa, dtype: float64

# dtb_tich_luy

In [24]:
new_df.columns

Index(['mssv', 'dtb_toan_khoa', 'dtb_tich_luy', 'so_tc_tich_luy'], dtype='object')

In [25]:
new_df.dtb_tich_luy.dtype

dtype('float64')

In [26]:
new_df.dtb_tich_luy.value_counts(dropna=False)

dtb_tich_luy
0.00    348
NaN     322
7.35     80
7.75     78
7.48     77
       ...
9.58      1
5.31      1
5.10      1
5.42      1
5.29      1
Name: count, Length: 419, dtype: int64

In [27]:
new_df.dtb_tich_luy.isnull().sum()

322

In [28]:
new_df.dtb_tich_luy.describe()

count    13648.000000
mean         7.313278
std          1.396699
min          0.000000
25%          6.910000
50%          7.470000
75%          8.050000
max          9.660000
Name: dtb_tich_luy, dtype: float64

# so_tc_tich_luy

In [29]:
new_df.columns

Index(['mssv', 'dtb_toan_khoa', 'dtb_tich_luy', 'so_tc_tich_luy'], dtype='object')

In [30]:
new_df.so_tc_tich_luy.dtype

dtype('float64')

In [31]:
new_df.so_tc_tich_luy.value_counts(dropna=False)

so_tc_tich_luy
148.0    519
153.0    450
26.0     426
30.0     347
NaN      322
        ...
193.0      1
177.0      1
170.0      1
168.0      1
166.0      1
Name: count, Length: 176, dtype: int64

In [32]:
new_df.so_tc_tich_luy.isnull().sum()

322

In [33]:
new_df.so_tc_tich_luy.describe()

count    13648.000000
mean        94.115988
std         50.574767
min          0.000000
25%         50.000000
50%        104.000000
75%        141.000000
max        193.000000
Name: so_tc_tich_luy, dtype: float64

# drop null

In [35]:
tmp = new_df[['dtb_toan_khoa', 'dtb_tich_luy', 'so_tc_tich_luy']]
new_df.loc[tmp.isnull().all(axis=1)]

,mssv,dtb_toan_khoa,dtb_tich_luy,so_tc_tich_luy
3558,FFFAFB51XPvAibaEXe+F+2tZHEiFCbIwAZfR+51z,NaN,NaN,NaN
3603,F8FD0FE0XPvAibaEXe9NdAclo3+sV2nNlXxOTO2G,NaN,NaN,NaN
3639,4EBB055AXPvAibaEXe+pZU+khqBqym2HqfAwq7dR,NaN,NaN,NaN
3652,55B938EBXPvAibaEXe/j7U1wtp2b2U32RKuDYEOK,NaN,NaN,NaN
3719,A90A53BCXPvAibaEXe+YGniCiyMp04jJX2Wr85uH,NaN,NaN,NaN
...,...,...,...,...
10265,1943DF4FXPvAibaEXe8ge2UHv4J4B0k4ssrPk2I6,NaN,NaN,NaN
10268,5FA91EB7XPvAibaEXe/BqA0y8R3TRRcVFMT0qhZb,NaN,NaN,NaN
10269,F627DB89XPvAibaEXe9P07hcrvmhCZuKZh2PZnru,NaN,NaN,NaN
10270,8A251F62XPvAibaEXe+lo6eJkHWaQSNSpcnnv+HR,NaN,NaN,NaN
10272,E43D3DE8XPvAibaEXe+Z7KfNHYLttK3U7V7OIJtl,NaN,NaN,NaN

In [36]:
tmp = new_df[['dtb_toan_khoa', 'dtb_tich_luy', 'so_tc_tich_luy']]
tmp = new_df.loc[tmp.isnull().all(axis=1)].index
new_df.drop(index=tmp, inplace=True)

In [37]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13648 entries, 0 to 13969
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mssv            13648 non-null  object
 1   dtb_toan_khoa   13648 non-null  float64
 2   dtb_tich_luy    13648 non-null  float64
 3   so_tc_tich_luy  13648 non-null  float64
dtypes: float64(3), object(1)
memory usage: 533.1+ KB

# data type

In [38]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13648 entries, 0 to 13969
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mssv            13648 non-null  object
 1   dtb_toan_khoa   13648 non-null  float64
 2   dtb_tich_luy    13648 non-null  float64
 3   so_tc_tich_luy  13648 non-null  float64
dtypes: float64(3), object(1)
memory usage: 533.1+ KB

In [39]:
tmp = new_df.so_tc_tich_luy.astype('int64').unique().tolist()
mapping_dict = {a:str(a) for a in tmp}
new_df.so_tc_tich_luy = new_df.so_tc_tich_luy.map(mapping_dict)
mapping_dict

{144: '144',
 153: '153',
 0: '0',
 148: '148',
 60: '60',
 152: '152',
 158: '158',
 138: '138',
 136: '136',
 160: '160',
 142: '142',
 129: '129',
 105: '105',
 154: '154',
 98: '98',
 141: '141',
 156: '156',
 123: '123',
 22: '22',
 147: '147',
 70: '70',
 72: '72',
 120: '120',
 146: '146',
 122: '122',
 46: '46',
 21: '21',
 87: '87',
 149: '149',
 4: '4',
 157: '157',
 137: '137',
 5: '5',
 19: '19',
 7: '7',
 155: '155',
 6: '6',
 145: '145',
 11: '11',
 36: '36',
 151: '151',
 150: '150',
 77: '77',
 134: '134',
 96: '96',
 76: '76',
 13: '13',
 18: '18',
 140: '140',
 109: '109',
 97: '97',
 128: '128',
 25: '25',
 143: '143',
 132: '132',
 139: '139',
 48: '48',
 15: '15',
 95: '95',
 26: '26',
 8: '8',
 9: '9',
 54: '54',
 112: '112',
 55: '55',
 59: '59',
 31: '31',
 119: '119',
 162: '162',
 37: '37',
 133: '133',
 73: '73',
 17: '17',
 86: '86',
 49: '49',
 14: '14',
 111: '111',
 32: '32',
 159: '159',
 83: '83',
 43: '43',
 38: '38',
 90: '90',
 85: '85',
 34: '34',
 51: '51',
 67: '67',
 126: '126',
 20: '20',
 118: '118',
 64: '64',
 3: '3',
 115: '115',
 27: '27',
 135: '135',
 173: '173',
 131: '131',
 108: '108',
 53: '53',
 127: '127',
 113: '113',
 52: '52',
 80: '80',
 81: '81',
 130: '130',
 41: '41',
 35: '35',
 75: '75',
 10: '10',
 44: '44',
 124: '124',
 24: '24',
 50: '50',
 161: '161',
 28: '28',
 92: '92',
 78: '78',
 91: '91',
 116: '116',
 117: '117',
 39: '39',
 71: '71',
 114: '114',
 82: '82',
 125: '125',
 56: '56',
 104: '104',
 45: '45',
 84: '84',
 23: '23',
 57: '57',
 29: '29',
 193: '193',
 100: '100',
 61: '61',
 68: '68',
 2: '2',
 30: '30',
 102: '102',
 121: '121',
 66: '66',
 65: '65',
 93: '93',
 107: '107',
 40: '40',
 16: '16',
 12: '12',
 106: '106',
 47: '47',
 88: '88',
 58: '58',
 42: '42',
 69: '69',
 101: '101',
 103: '103',
 79: '79',
 62: '62',
 164: '164',
 99: '99',
 163: '163',
 33: '33',
 94: '94',
 110: '110',
 74: '74',
 165: '165',
 89: '89',
 171: '171',
 63: '63',
 167: '167',
 177: '177',
 170: '170',
 168: '168',
 1: '1',
 166: '166',
 192: '192'}

In [40]:
new_df.mssv = new_df.mssv.astype('category')
new_df.dtb_toan_khoa = new_df.dtb_toan_khoa.astype('float32')
new_df.dtb_tich_luy = new_df.dtb_tich_luy.astype('float32')
new_df.so_tc_tich_luy = new_df.so_tc_tich_luy.astype('category')
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13648 entries, 0 to 13969
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mssv            13648 non-null  category
 1   dtb_toan_khoa   13648 non-null  float32
 2   dtb_tich_luy    13648 non-null  float32
 3   so_tc_tich_luy  13648 non-null  category
dtypes: category(2), float32(2)
memory usage: 894.7 KB

# final check

In [41]:
new_df[new_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [mssv, dtb_toan_khoa, dtb_tich_luy, so_tc_tich_luy]
Index: []

In [42]:
new_df.duplicated().sum()

0

In [43]:
new_df[new_primary_key].duplicated().sum()

0

In [44]:
new_df.describe()

       dtb_toan_khoa  dtb_tich_luy
count   13648.000000  13648.000000
mean        6.916518      7.313279
std         1.748020      1.396699
min         0.000000      0.000000
25%         6.550000      6.910000
50%         7.370000      7.470000
75%         8.010000      8.050000
max         9.660000      9.660000

In [45]:
new_df.columns

Index(['mssv', 'dtb_toan_khoa', 'dtb_tich_luy', 'so_tc_tich_luy'], dtype='object')

In [46]:
new_df.mssv.value_counts(dropna=False)

mssv
0000AC05XPvAibaEXe9B2tolTZ0JLoBGbkQixQS6    1
AC06900DXPvAibaEXe86sOYAMzRf/inBAeNLSW7g    1
AC112A32XPvAibaEXe8A5TWV5xKpbTlAh/ThC1oX    1
AC137481XPvAibaEXe9W6UmNXS/RjhM/XsamX5+P    1
AC17A2EBXPvAibaEXe+ltCXpm838vTWWVUsJrTsd    1
                                           ..
56B3A51EXPvAibaEXe8x9oGqJppz39OfxBn512qA    1
56B4B04AXPvAibaEXe9vsqiPWJvEGonUy72Wmggm    1
56B8CACCXPvAibaEXe8WajRPpOtnV1LHpDMz9XyP    1
56BB81EBXPvAibaEXe+551daa8DfJ/KeV5nplY0D    1
FFFA4234XPvAibaEXe+OhmjSj4XEzdTGgcTdT9fT    1
Name: count, Length: 13648, dtype: int64

In [47]:
new_df.dtb_toan_khoa.value_counts(dropna=False)

dtb_toan_khoa
0.00    143
7.40     71
7.75     69
7.48     65
7.79     64
       ...
0.91      1
0.48      1
9.20      1
9.52      1
9.44      1
Name: count, Length: 890, dtype: int64

In [48]:
new_df.dtb_tich_luy.value_counts(dropna=False)

dtb_tich_luy
0.00    348
7.35     80
7.75     78
7.48     77
7.40     76
       ...
9.58      1
5.31      1
5.10      1
5.42      1
5.29      1
Name: count, Length: 418, dtype: int64

In [49]:
new_df.so_tc_tich_luy.value_counts(dropna=False)

so_tc_tich_luy
148    519
153    450
26     426
30     347
149    301
      ...
166      1
170      1
177      1
168      1
193      1
Name: count, Length: 175, dtype: int64

# save

In [50]:
clean_data_folder = Path("../../clean_data")
new_df.to_parquet(clean_data_folder/f"{data_stem}.parquet", index=False)
haha_df = pd.read_parquet(clean_data_folder/f"{data_stem}.parquet")

In [51]:
old_df[old_df.isnull().any(axis=1)]

,mssv,dtb_toankhoa,dtb_tichluy,sotc_tichluy
3558,FFFAFB51XPvAibaEXe+F+2tZHEiFCbIwAZfR+51z,NaN,NaN,NaN
3603,F8FD0FE0XPvAibaEXe9NdAclo3+sV2nNlXxOTO2G,NaN,NaN,NaN
3639,4EBB055AXPvAibaEXe+pZU+khqBqym2HqfAwq7dR,NaN,NaN,NaN
3652,55B938EBXPvAibaEXe/j7U1wtp2b2U32RKuDYEOK,NaN,NaN,NaN
3719,A90A53BCXPvAibaEXe+YGniCiyMp04jJX2Wr85uH,NaN,NaN,NaN
...,...,...,...,...
10265,1943DF4FXPvAibaEXe8ge2UHv4J4B0k4ssrPk2I6,NaN,NaN,NaN
10268,5FA91EB7XPvAibaEXe/BqA0y8R3TRRcVFMT0qhZb,NaN,NaN,NaN
10269,F627DB89XPvAibaEXe9P07hcrvmhCZuKZh2PZnru,NaN,NaN,NaN
10270,8A251F62XPvAibaEXe+lo6eJkHWaQSNSpcnnv+HR,NaN,NaN,NaN
10272,E43D3DE8XPvAibaEXe+Z7KfNHYLttK3U7V7OIJtl,NaN,NaN,NaN

In [52]:
haha_df[haha_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [mssv, dtb_toan_khoa, dtb_tich_luy, so_tc_tich_luy]
Index: []

In [53]:
old_df[old_primary_key].duplicated().sum()

0

In [54]:
haha_df[new_primary_key].duplicated().sum()

0

In [55]:
old_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13970 entries, 0 to 13969
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mssv          13970 non-null  object
 1   dtb_toankhoa  13648 non-null  float64
 2   dtb_tichluy   13648 non-null  float64
 3   sotc_tichluy  13648 non-null  float64
dtypes: float64(3), object(1)
memory usage: 436.7+ KB

In [56]:
haha_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13648 entries, 0 to 13647
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mssv            13648 non-null  category
 1   dtb_toan_khoa   13648 non-null  float32
 2   dtb_tich_luy    13648 non-null  float32
 3   so_tc_tich_luy  13648 non-null  category
dtypes: category(2), float32(2)
memory usage: 788.2 KB

In [57]:
old_df.describe()

       dtb_toankhoa   dtb_tichluy  sotc_tichluy
count  13648.000000  13648.000000  13648.000000
mean       6.916518      7.313278     94.115988
std        1.748020      1.396699     50.574767
min        0.000000      0.000000      0.000000
25%        6.550000      6.910000     50.000000
50%        7.370000      7.470000    104.000000
75%        8.010000      8.050000    141.000000
max        9.660000      9.660000    193.000000

In [58]:
haha_df.describe()

       dtb_toan_khoa  dtb_tich_luy
count   13648.000000  13648.000000
mean        6.916518      7.313279
std         1.748020      1.396699
min         0.000000      0.000000
25%         6.550000      6.910000
50%         7.370000      7.470000
75%         8.010000      8.050000
max         9.660000      9.660000

In [59]:
old_df.sample(5)

,mssv,dtb_toankhoa,dtb_tichluy,sotc_tichluy
3016,875CBE51XPvAibaEXe/cAy9n2SNhGPFZf6KmgwxB,6.76,6.90,133.0
11483,7EA90B05XPvAibaEXe8kQad4U9taeRNBO2TtDW3A,6.47,6.72,56.0
12329,ABB32A53XPvAibaEXe8LPxrujEz9HjHEIsCz+RYQ,8.42,8.42,17.0
8413,8AF87B9FXPvAibaEXe950ls1WcjgCjpX0DQlVHg8,3.72,5.52,13.0
8584,01A6AF36XPvAibaEXe/hev6WBclXgUbGB8BXhUSR,9.23,9.23,111.0

In [60]:
haha_df.sample(10)

,mssv,dtb_toan_khoa,dtb_tich_luy,so_tc_tich_luy
7883,92E048E1XPvAibaEXe+heDAQ/Ar4Ciao4g73OiU5,7.35,7.35,94
9800,105A1756XPvAibaEXe9KDsVv3cRkMQK+9a3JNn+S,6.11,6.52,147
4014,C386EE73XPvAibaEXe+HeL85QGo03ZNOv3tVjTb1,3.98,7.67,33
1833,942F0218XPvAibaEXe+fW1Bg/roenG4L//m3CNcy,8.25,8.25,130
11509,B55048C9XPvAibaEXe+whDYzxQ4teavozKtmL6dW,5.46,6.93,28
3960,9BC20AD6XPvAibaEXe9/83vYrk4yZtjUay1JVUrd,7.14,7.14,148
878,A6F6F2DFXPvAibaEXe8091B3Eu2czK6H6DuEBpnB,5.66,6.28,113
2172,BBE70379XPvAibaEXe9p2uXWEeSl6vOGKHyFx/jN,7.10,7.10,138
3526,806529A7XPvAibaEXe+q0E3QguGBpaRnFeH23a1j,7.22,7.69,118
5752,2F9CE51CXPvAibaEXe/B5ptYzPZ33nSBmnY9BHIy,6.38,6.97,115

In [61]:
os.listdir(clean_data_folder)

['12.baoluu.parquet',
 'diem_Thu.parquet',
 'sinhvien_dtb_toankhoa.parquet',
 'uit_hocphi_miengiam.parquet',
 'diemrl.parquet',
 'sinhvien_dtb_hocky.parquet',
 'desktop.ini',
 '14.totnghiep.parquet',
 '1.sinhvien.xlsx',
 '2.diem.xlsx',
 '3.sinhvien_chungchi.xlsx',
 '4.xeploaiav.xlsx',
 '5.Thisinh.xlsx',
 '6.giayxacnhan.xlsx',
 '8.XLHV.xlsx',
 '10.diemrl.xlsx',
 'enriched_dtb_hk.parquet',
 'desktop.ini']