In [6]:
import pandas as pd
import os

In [11]:
os.listdir("../Dat_Clean_data")

['1.sinhvien.xlsx',
 '2.diem.xlsx',
 '3.sinhvien_chungchi.xlsx',
 '4.xeploaiav.xlsx',
 '5.Thisinh.xlsx',
 '6.giayxacnhan.xlsx',
 '8.XLHV.xlsx',
 '10.diemrl.xlsx',
 'Data_Preprocessing_2.ipynb',
 'Data_Preprocessing (1).ipynb',
 'desktop.ini']

In [12]:
df_xlhv = pd.read_excel("../Dat_Clean_data/8.XLHV.xlsx")
df_sv = pd.read_excel("../Dat_Clean_data/1.sinhvien.xlsx")

In [16]:
df_xlhv.mssv.str.len().value_counts()

mssv
40.0    3445
Name: count, dtype: int64

In [17]:
df_sv.mssv.str.len().value_counts()

mssv
40    8295
Name: count, dtype: int64

In [18]:
df_xlhv.mssv.unique()

array(['98247E19XPvAibaEXe93PEySAJOVkxsz+HIviyYJ',
       '52B1CC2DXPvAibaEXe+kwIr/VXjl0w+FyuW1abQ7',
       '5666EAF4XPvAibaEXe+Z7KfNHYLttJaLI+SH+DpO', ...,
       '9B23F85CXPvAibaEXe/QqI5At3DBgidRMGrBbipk',
       '33B4B1F5XPvAibaEXe+4XPPXlKRz0EV4ZG7086cL',
       '7ACF3993XPvAibaEXe9p78qxnH96y309RWXe+E33'], dtype=object)

In [24]:
mssv_xlhv = df_xlhv.mssv.reset_index(name="mssv").drop('index', axis=1)
mssv_xlhv

                                          mssv
0     98247E19XPvAibaEXe93PEySAJOVkxsz+HIviyYJ
1     52B1CC2DXPvAibaEXe+kwIr/VXjl0w+FyuW1abQ7
2     5666EAF4XPvAibaEXe+Z7KfNHYLttJaLI+SH+DpO
3     682C32E0XPvAibaEXe/Bn5cQSu92WX0DcIKdud8D
4     7901D3A9XPvAibaEXe+6MN9FoW2mqYEmruXXBNsS
...                                        ...
3447  9B23F85CXPvAibaEXe/QqI5At3DBgidRMGrBbipk
3448  33B4B1F5XPvAibaEXe+4XPPXlKRz0EV4ZG7086cL
3449  7ACF3993XPvAibaEXe9p78qxnH96y309RWXe+E33
3450  7BEDC07CXPvAibaEXe9KWpGOh3zHl5qOD67ZCwQD
3451  0DD35B47XPvAibaEXe80b1fr0fH/JjIAGw7YBF/0

[3452 rows x 1 columns]

In [30]:
index = mssv_xlhv[mssv_xlhv.duplicated()].index
mssv_xlhv.drop(index=index, inplace=True)

In [25]:
mssv_sv = df_sv.mssv.reset_index(name="mssv").drop('index', axis=1)
mssv_sv

                                          mssv
0     BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2
1     2420ED57XPvAibaEXe/Lh6v1XxTKJa6JLFRUPkLM
2     83B76C01XPvAibaEXe/lOccskaOiO2K46r7t4qnt
3     91F785ABXPvAibaEXe/lOccskaOiO5y4GbVvuRQu
4     007C275DXPvAibaEXe+TFgEDwYNnveOOmOYeYzF6
...                                        ...
8290  7D7633B0XPvAibaEXe95IhrkYSGfcCQVGm4nFGyt
8291  AB431338XPvAibaEXe8xMCTZ03/BexWzDCyWVsT3
8292  75AD7B4AXPvAibaEXe8xMCTZ03/BewoGrWSt0ZXM
8293  CB263C18XPvAibaEXe8xMCTZ03/Be8yk40QWdPiR
8294  7CD9B404XPvAibaEXe8M4ltS8XjC9c/g97NvpP52

[8295 rows x 1 columns]

In [31]:
index = mssv_sv[mssv_sv.duplicated()].index
mssv_sv.drop(index=index, inplace=True)

In [33]:
pd.concat((mssv_sv, mssv_xlhv), axis=0).duplicated().sum()

1863

In [38]:
len(pd.concat((mssv_sv, mssv_xlhv), axis=0).mssv.unique())

8296

In [39]:
8296 - 1863

6433